@font-face {
  font-family: 'Quicksand';
  src: url(../public/fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}

body {
  background: linear-gradient(35deg, hsl(182, 0%, 10%), hsl(12, 4%, 26%));
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

body, button {
  font-family: Quicksand, 'Courier New', Courier, monospace;
}